@use 'variables' as v;
@use 'mixin' as m;

.recommend {
    padding-top: 100px;
    width: 100%;
    @include m.sp {
        padding-top: 50px;
    }
    .recommend-head {
        padding: 30px 0;
        background: linear-gradient(to bottom, #B71C1C, #2D0A0A);
        @include m.sp {
            padding: 5px 0;
        }
        h2 {
            font-size: v.$title;
            color: v.$white;
            text-align: center;
            @include m.sp {
                font-size: 30px;
            }
        }
        h3 {
            font-size: v.$sub-title;
            color: v.$white;
            text-align: center;
            &::before,
            &::after {
                content: "-";
                margin:  0 10px;
            }
            @include m.sp {
                font-size: 25px;
            }
        }
    }
    .recommend-inner {
        padding-top: 100px;
        padding-bottom: 50px;
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
        @include m.sp {
            padding-inline: 20px;
            padding-top: 50px;
        }
        .meal1 {
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            h4 {
                font-size: v.$sub-title;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
                @include m.sp {
                    font-size: 25px;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            p {
                font-size: v.$text;
                @include m.sp {
                    font-size: 20px;
                }
            }
        }
        .meal2 {
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            h4 {
                font-size:v.$sub-title;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
                @include m.sp {
                    font-size: 25px;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            p {
                font-size: v.$text;
                @include m.sp {
                    font-size: 20px;
                }
            }
        }
        .meal3 {
            img {
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            h4 {
                font-size: v.$sub-title;
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;
                @include m.sp {
                    font-size: 25px;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            p {
                font-size: v.$text;
            @include m.sp {
                    font-size: 20px;
                }
            }
        }
    }
    .detailed-menu {
        text-align: center;
        a {
            font-size: v.$text;
            display: inline-block;
            padding: 20px 80px;
            background-color: v.$grade-brown;
            color: v.$white;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
                background-color: #5a3426;
                box-shadow: 0 0 15px rgba(107, 62, 46, 0.6);
            }
        }
    }
}