@use 'variables' as v;
@use 'mixin' as m;

.store-information {
    padding-top: 100px;
    .store-information-head {
        padding: 30px 0;
        background: linear-gradient(to bottom, #B71C1C, #2D0A0A);
        @include m.sp {
            padding: 5px 0;
        }
        h2 {
            font-size: v.$title;
            color: v.$white;
            text-align: center;
            @include m.sp {
                font-size: 30px;
            }
        }
        h3 {
            font-size: v.$sub-title;
            color: v.$white;
            text-align: center;
            &::before,
            &::after {
                content: "-";
                margin:  0 10px;
            }
            @include m.sp {
                font-size: 25px;
            }
        }
    }
    .store-information-inner {
        padding-top: 100px;
        max-width: 800px;
        margin: 0 auto;
        @include m.sp {
            padding-inline: 20px;
            padding-top: 50px;
        }
        .information-text {
            dl {
                display: flex;
                flex-wrap: wrap;
                border-top: 2px solid v.$grade-brown;
                @include m.sp {
                    flex-direction: column;
                }
                dt {
                    width: 40%;
                    padding: 10px 0;
                    font-size: v.$text;
                    border-bottom: 2px solid v.$grade-brown;
                    @include m.sp {
                        width: 100%;
                        border-bottom: none;
                        font-size: 20px;
                        padding: 0;
                    }
                }
                dd {
                    width: 60%;
                    padding: 10px 0;
                    font-size: v.$text;
                    border-bottom: 2px solid v.$grade-brown;
                    @include m.sp {
                        width: 100%;
                        font-size: 20px;
                        padding: 0;
                    }
                }    
            }
        }
    }

}